@use './vars';

.flex-row {
  display: flex;
}

.flex-row--gap-big {
  gap: 2.4rem;
}

.mb-big {
  margin-bottom: 8rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 2.4rem;
}

.main-heading {
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.link-btn {
  font-size: 2rem;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  background: vars.$gradient-1;
  transition: all 0.3s;

  &--sm {
    font-size: 1.6rem;
  }

  &--big {
    font-size: 2.4rem;
  }

  &--main {
    background: vars.$gradient-1;
  }
  &--accent {
    background: vars.$accent;
  }
  &--red {
    background: vars.$red;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &:focus {
    transform: scale(0.95);
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
