.flex-row {
  display: flex;
}

.flex-row--gap-big {
  gap: 2.4rem;
}

.mb-big {
  margin-bottom: 8rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 2.4rem;
}

.main-heading {
}

.active {
  display: block;
}

.hidden {
  display: none;
}
