extends base

block content 
  .about


    .about__block.mb-md
      h2 Terms of Use
      p Please carefully read these Terms of Use ("Terms") before using our website and quiz platform. By using our website, you agree to these Terms and agree to comply with them. If you do not agree with these Terms, please do not use our website.

    .about__block.mb-md
      h3 Description of Service
      p This website is a demonstration portfolio project where registered users can participate in quizzes. Registration is required to access and take quizzes. However, it is not mandatory to provide real personal information during the registration process.

    .about__block.mb-md
      h3 Rules of Use
      p You agree to use our website and its features for personal and non-commercial purposes only. It is prohibited to use our website to post illegal content, offensive material, infringe upon copyright, or distribute malware.

    .about__block.mb-md
      h3 Intellectual Property
      p Content posted on our website is protected under the MIT License (as indicated on the GitHub repository). Any use, modification, or distribution of the content must comply with the terms of the MIT License.

    .about__block.mb-md
      h3 Liability and Limitations
      p You understand and agree that the use of our website is at your own risk. We are not responsible for the accuracy, completeness, or reliability of the information posted on our website. In no event shall we be liable for any losses or damages incurred by you as a result of using our website.

    .about__block.mb-md
      h3 Code of Conduct
      p You agree to use our website in accordance with applicable laws and standards of conduct. It is prohibited to use inappropriate or offensive language, post defamatory or abusive material, or violate the rights of third parties. We reserve the right to remove any content or restrict access to our website in case of violation of these rules.

    .about__block.mb-md
      h3 Changes and Updates
      p We reserve the right to modify or update these Terms at any time. Any changes will be posted on this page, and your continued use of our website after the changes signify your acceptance of the updated Terms.

    .about__block.mb-md
      h3 Contact Us
      p If you have any questions, issues, or complaints regarding our website, please contact us using the provided contact information.


    .divider.mb-md 

    .about__block.mb-md
      h2 Data Collection and Usage
      p We collect and use personal data from users solely for the purpose of providing access to our website and its features. By using our website, you consent to the collection, storage, and processing of your personal data as described in this policy.

    .about__block.mb-md
      h3 1. Information We Collect
      p During the registration process and while using our website, we may collect the following information:
      p - Name and contact information (email address, username)
      p - Optional profile information, such as profile picture or other details you choose to provide

    .about__block.mb-md
      h3 2. Purpose of Data Usage
      p We use the collected data for the following purposes:
      p - Providing access to the website and its features
      p - Allowing users to save information related to completed quizzes
      p - Enabling users to upload and manage their profile picture or other optional profile information
      p - Personalizing user experience and improving our website's functionality

    .about__block.mb-md
      h3 3. Data Protection and Security
      p We take appropriate measures to safeguard the collected data and protect it against unauthorized access, loss, or alteration. We implement industry-standard security measures and regularly review our security practices to ensure the integrity and confidentiality of the data.
    .about__block.mb-md
      h3 4. Third-Party Disclosure
      p We do not disclose personal data to any third parties without your consent, except as required by applicable laws or as outlined in this policy. Your personal data remains confidential and is used solely for the purposes stated above.

    .about__block.mb-md
      h3 5. Data Retention
      p We retain your personal data only for as long as necessary to fulfill the purposes for which it was collected and to comply with any legal obligations. If you wish to request the deletion of your personal data from our records, please contact us using the provided contact information.

    .about__block.mb-md
      h3 6. User Rights
      p You have the right to access, modify, or delete your personal data that we hold. If you would like to exercise these rights or have any questions about the processing of your personal data, please contact us using the provided contact information.