extends base

block content 
  main.auth.mb-big
    section.cta.cta--left-dekstop.mb-big
      img.cta__img(src='/img/icons/YQ.svg' alt='YQ')
      p.cta__message Sign in to Ygacs Quiz

    form.auth__form.auth__form--login

      label.auth__label(for='email') Email
      input.auth__input(type='email' id='email' placeholder='Email' required)

      label.auth__label(for='password') Password
      input.auth__input(type='password' id='password' placeholder='At least 8 characters' required minlength='8')

      p.auth__error.hidden 
      .auth__spinner-container 
        .spinner    
      button.auth__submit-btn(type='submit') Sign in
      p.auth__extra-text Don't have an account? 
        a(href='/signup') Sign up

