extends base

block content
  main(data-quiz=`${JSON.stringify(quiz)}`)
    h1.mb-sm= quiz.name
    .divider.mb-md
    #question.question.mb-md
      h3.question__name.mb-md= quiz.questions[0].questionTitle
      each option, idx in quiz.questions[0].options
        button.question__option-btn(num=`${idx}` type='button')= option
      button.question__next-btn.btn-action.btn-next Next

