@use '../vars';

.page-error {
  text-align: center;

  &__status {
    font-size: 8rem;
    font-weight: 700;
    color: vars.$accent;
    margin-bottom: 3.2rem;
  }

  &__message {
    font-size: 2rem;
    line-height: 1.5;
  }
}
